<?xml version="1.0"?>
<configuration>
	<!-- SmtpClient Configuration -->
	<!--
	<system.net>
		<mailSettings>
			<smtp from="foo@bar.com">
				<network host="127.0.0.1" port="25" userName="foo@bar.com" password="123" />
				<specifiedPickupDirectory pickupDirectoryLocation="c:\tmp"/>
			</smtp>
		</mailSettings>
	</system.net>
	-->
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<add namespace="System.Web.Mvc"/>
				<add namespace="System.Web.Mvc.Ajax"/>
				<add namespace="System.Web.Mvc.Html"/>
				<add namespace="System.Web.Routing"/>
				<add namespace="System.Linq"/>
				<add namespace="System.Collections.Generic"/>
			</namespaces>
		</pages>
	</system.web>
	<!-- For testing purpose -->
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="SpecifiedPickupDirectory">
				<specifiedPickupDirectory pickupDirectoryLocation="c:\Temp\"/>
			</smtp>
		</mailSettings>
	</system.net>
	<system.web.extensions/>
	<!-- 
				The system.webServer section is required for running ASP.NET AJAX under Internet
				Information Services 7.0.  It is not necessary for previous version of IIS.
	-->
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
		</modules>
		<handlers>
			<remove name="UrlRoutingHandler"/>
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
